const { SlashCommandBuilder } = require('@discordjs/builders');
const { MessageEmbed } = require('discord.js');

module.exports = {
    data: new SlashCommandBuilder().setName('< Command Name >').setDescription('< Command Description >'),
    async execute(interaction, footer, avatar) {
        /* Command Logic */
    }
}